block pageVars

meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
title #{pageTitle} - Modern Admin - Clean Bootstrap 4 Dashboard HTML Template + Bitcoin Dashboard
link(rel='apple-touch-icon', href='../../../app-assets/images/ico/apple-icon-120.png')
link(rel='shortcut icon', type="image/x-icon", href='../../../app-assets/images/ico/favicon.ico')
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700" rel="stylesheet")
link(href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet")